<!-- <a href="{{ post.url }}" class="expert-card expert-card-carousel card-1"> -->
<div class="expert-card expert-card-carousel card-1">
  <img src="{{ post.data.image }}" alt="{{ post.data.name }}" loading="lazy" />
  <div class="post-card__text--container">
    <h4>{{ post.data.name }}</h4>
    <p>
      <span class="line-1 text__medium">{{ post.data.designation }}</span>
      <br />
    </p>
  </div>
</div>
<!-- </a> -->
