---
title: Adarsh Homes | Real Estate
layout: base.njk
---

<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="#" class="navigation__link about_us"
          ><span>01</span>About Us</a
        >
      </li>
      <li class="navigation__item">
        <a href="#section-tours" class="navigation__link features_id"
          ><span>02</span>Features</a
        >
      </li>
      <li class="navigation__item">
        <a
          href="https://www.facebook.com/adarshhomesDwarkaMor/photos/a.109602103844907/400643294740785/?type=3&theater"
          target=" _blank"
          class="navigation__link goto__designs"
          ><span>03</span>Designs</a
        >
      </li>
      <!-- <li class="navigation__item">
            <a href="#" class="navigation__link"><span>04</span>Properties</a>
          </li> -->
      <li class="navigation__item">
        <a href="#popup" class="navigation__link contact__us_"
          ><span>04</span>Contact Us</a
        >
      </li>
    </ul>
  </nav>
</div>

<header class="header">
  <div class="header__logo-box">
    <img src="img/logo-green-1x.png" alt="Logo" class="header__logo" />
  </div>

  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">
        <style>
          .heading-primary--main {
            font-family: 'Teko';
          }
          .heading-primary--sub {
            font-family: 'Lato', sans-serif;
          }
        </style>
        Adarsh Homes</span
      >
      <span class="heading-primary--sub">is where life happens</span>
    </h1>

    <a href="#section-tours" class="btn btn--white btn--animated">Know More</a>
  </div>
</header>

<main>
  <section class="section-about">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
        Best in class yet pocket friendly
      </h2>
    </div>

    <div class="row">
      <div class="col-1-of-2">
        <h3 class="heading-tertiary u-margin-bottom-small">
          The fastest growing real estate
        </h3>
        <p class="paragraph">
          We are one of the fastest growing real estate developer’s in
          uttamnagar DwarkaMor New Delhi. In the 10 Years since our inception,
          we’ve grown steadily and have a left a lasting imprint on the
          #UttamNagar. Adarsh Homes has build half millions of residential &
          commercial space that has been sold and is under multiple stages of
          development.
        </p>

        <h3 class="heading-tertiary u-margin-bottom-small">
          The Quality Life
        </h3>
        <p class="paragraph">
          In #UttamNagar, we’ve undertaken the development of the finest home
          options, from independent floors to apartments and commercial property
        </p>

        <a href="#popup" class="btn-text">Learn more &rarr;</a>
      </div>
      <div class="col-1-of-2">
        <div class="composition">
          <img
            srcset="img/nat-1.jpeg 300w, img/nat-1-large.jpeg 1000w"
            sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
            alt="Photo 1"
            class="composition__photo composition__photo--p1"
            src="img/nat-1-large.jpeg"
          />

          <img
            srcset="img/nat-2.jpeg 300w, img/nat-2-large.jpeg 1000w"
            sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
            alt="Photo 2"
            class="composition__photo composition__photo--p2"
            src="img/nat-2-large.jpeg"
          />

          <img
            srcset="img/nat-3.jpeg 300w, img/nat-3-large.jpeg 1000w"
            sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
            alt="Photo 3"
            class="composition__photo composition__photo--p3"
            src="img/nat-3-large.jpeg"
          />

          <!--
                            <img src="img/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                            <img src="img/nat-2-large.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
                            <img src="img/nat-3-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
                            -->
        </div>
      </div>
    </div>
  </section>

  <section class="section-features">
    <div class="row">
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-map"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Luxury living
          </h3>
          <p class="feature-box__text">
            Ultra-Specious, luxurious apartments - Semi furnished yet Top notch
            facilities and what not!
          </p>
        </div>
      </div>

      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-compass"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Feel the Design
          </h3>
          <p class="feature-box__text">
            Beautiful Modular kitchen designs, Designer walls, Stylish Sanitary
            fittings, Chandelier and much more
          </p>
        </div>
      </div>

      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-world"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Connectivity
          </h3>
          <p class="feature-box__text">
            Easy Connectivity to Delhi and NCR, Metro Connectivity, Airport, Bus
            Terminal Connectivity.
          </p>
        </div>
      </div>

      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-heart"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Own your dream
          </h3>
          <p class="feature-box__text">
            Freehold Property - Registry Available, Homeloans Approved from
            recognized NBFC.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-tours" id="section-tours">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
        Features
      </h2>
    </div>

    <div class="row">
      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--1">
              &nbsp;
            </div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span--1"
                >Design</span
              >
            </h4>
            <div class="card__details">
              <ul>
                <li>Wall Finish- popputty with Acrylic Emulsion</li>
                <li>Imported marble</li>
                <li>Flooring- Vitrifiedtiles Tiles</li>
                <li>Chandelier</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Description</p>
                <p class="card__price-value">
                  <br />
                  Experience the best in class design, imported marble and
                  custom design, Vitrifiedtiles Tiles, Chandelier and much more.
                </p>
              </div>
              <a href="#popup" class="btn btn--white">Know more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--2">
              &nbsp;
            </div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span--2"
                >Location</span
              >
            </h4>
            <div class="card__details">
              <ul>
                <li>
                  Easy Connectivity to Delhi NCR
                </li>
                <li>Car Parking</li>
                <li>L-corner Shape</li>
                <li>Metro/Airport coverage</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-2">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Description</p>
                <p class="card__price-value">
                  <br />
                  Get the best connectivity nearby, and property location
                  facilities like proper parking space and services nearby.
                </p>
              </div>
              <a href="#popup" class="btn btn--white">Know more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--3">
              &nbsp;
            </div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span--3"
                >Budget</span
              >
            </h4>
            <div class="card__details">
              <ul>
                <li>Pocket friendly</li>
                <li>Low maintenance</li>
                <li>NBFC Approved Homeloans</li>
                <li>Freehold Property - Registry Available</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-3">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Description</p>
                <p class="card__price-value">
                  Get the best value for your money! Finance options also
                  available, NBFC Approved Homeloans and much more!
                </p>
              </div>
              <a href="#popup" class="btn btn--white">Know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="u-center-text u-margin-top-huge">
      <a href="#popup" class="btn btn--green">Contact us now!</a>
    </div>
  </section>
  <!-- DesignSection STARTS -->
  <section class="section-ourdesigns">
    <!-- Section-heading-box -->
    <div class="u-center-text u-margin-bottom-medium">
      <h2 class="heading-secondary u-margin-top-medium">
        Designs
      </h2>
      <h3 class="heading-tertiary">
        Big Ideas, Creative Designs
      </h3>
      <!-- Section-Btn -->
      <!-- <a
            href="experts"
            class="btn btn--secondary btn--section hvr-sweep-to-right"
          >
            view all experts</a
          > -->
    </div>

    <!-- Experts Slider -->

    <div class="glider-contain row">
      <button class="glider-prev">
        <img src="img/prev.svg" alt="left-arrow" />
      </button>
      <div class="u-center-text u-margin-bottom-medium">
        <a href="#popup_designs" class="btn-text">View all</a>
      </div>
      <div class="glider glider-wrap">
        {%- for post in collections.post -%}
        <div class="expert-card expert-card-carousel card-1">
          <img
            src="{{ post.data.image }}"
            alt="{{ post.data.name }}"
            loading="lazy"
          />
          <div class="post-card__text--container text__medium">
            <h4>{{ post.data.name }}</h4>
            <p>
              <br />
            </p>
          </div>
        </div>
        {%- endfor -%}
      </div>
      <button class="glider-next">
        <img src="img/next.svg" alt="" />
      </button>
      <div id="dots" class="glider-dots"></div>
    </div>
  </section>
  <!-- DesignSection ENDS -->
  <section class="section-stories u-margin-top-big">
    <div class="bg-video">
      <video class="bg-video__content" autoplay muted loop>
        <source src="img/video.mp4" type="video/mp4" />
        <source src="img/video.webm" type="video/webm" />
        Your browser is not supported!
      </video>
    </div>

    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
        We make people genuinely happy
      </h2>
    </div>

    <div class="row">
      <div class="story">
        <figure class="story__shape">
          <img src="img/nat-8.jpg" alt="Person on a tour" class="story__img" />
          <figcaption class="story__caption">Harpreet Singh</figcaption>
        </figure>
        <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">
            They keep the client’s best interests in sharp focus
          </h3>
          <p>
            I wanted to sell two of my properties in 2016 and wanted to invest
            all in buying a new luxary house, After contacting Adarsh Homes they
            took care of everything in such a good way. Since then, I’ve bought
            two more properties and with each process, they were quite
            knowledgeble, reflecting professionalism and terrific instincts
            which consistently guided us through to excellent outcomes. It is
            truly a pleasure to work with them. They keep the client’s best
            interests in sharp focus and you can always trust them on top of
            every detail, big and small, which brings great peace of mind in any
            real estate deals.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="story">
        <figure class="story__shape">
          <img src="img/nat-9.jpg" alt="Person on a tour" class="story__img" />
          <figcaption class="story__caption">Sandhya C.</figcaption>
        </figure>
        <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">
            The perfect fit!
          </h3>
          <p>
            I would highly recommend Adarsh Homes. Just found the right fit,
            property we were searching from last 2 years . All in one is the
            word which describes Adarsh Homes, even after we bougth the property
            their aftersales support was commendable, hepful maintenance team.
            If you are planning to deal in properties, Adarsh Homes should be
            your first choice.
          </p>
        </div>
      </div>
    </div>

    <div class="u-center-text u-margin-top-huge">
      <a href="#popup" class="btn-text">Book Now &rarr;</a>
    </div>
  </section>

  <section class="section-book">
    <div class="row">
      <div class="book">
        <div class="book__form">
          <form action="#popup" class="form">
            <div class="u-margin-bottom-small">
              <h2 class="heading-secondary">
                Just one step away
              </h2>
            </div>

            <p class="paragraph">
              Our goal is to make sure your transaction is handled smartly, in a
              proper manner and that you emerge from your real estate
              transaction with the satisfaction, pride and joy you deserve as
              you step-on to the next stage of life’s journey.<br />
            </p>

            <div class="form__group u-margin-top-medium">
              <button class="btn btn--green">Let's Connect &rarr;</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <div class="footer__logo-box">
    <picture class="footer__logo">
      <source
        srcset="img/logo-green-small-1x.png 1x, img/logo-green-small-2x.png 2x"
        media="(max-width: 37.5em)"
      />
      <img
        srcset="img/logo-green-1x.png 1x, img/logo-green-2x.png 2x"
        alt="Full logo"
        class="footer__logo_image"
        src="img/logo-green-2x.png"
      />
    </picture>
  </div>
  <div class="row">
    <!-- <div class=""> -->
    <center>
      <div class="footer-tag">
        IS WHERE LIFE HAPPENS
        <!-- <div class="footer__navigation"> -->
        <!-- <ul class="footer__list">
                <li class="footer__item">
                  <a
                    href="https://www.facebook.com/adarshhomesDwarkaMor/photos/a.109602103844907/400643294740785/?type=3&theater"
                    class="footer__link"
                    target=" _blank"
                    ><i class="fas fa-phone-alt"></i> Call us:
                  </a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Contact us</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Privacy policy</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Terms</a>
                </li>
              </ul> -->
        <!-- </div> -->
      </div>
    </center>
  </div>
</footer>

<div class="popup" id="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img src="img/nat-8.jpg" alt="Tour photo" class="popup__img" />
      <img src="img/nat-9.jpg" alt="Tour photo" class="popup__img" />
    </div>
    <div class="popup__right">
      <a href="#section-features" class="popup__close">&times;</a>
      <h2 class="heading-secondary u-margin-bottom-small">
        CONTACT US NOW!
      </h2>
      <h3 class="heading-tertiary u-margin-bottom-small">
        Important &ndash; Please call within working hours
      </h3>
      <p class="popup__text">
        Tel:<br />
        Shubham Goyal
        <a href="tel:9318488397" class="btn-text">9318488397</a><br />
        Anita Kour
        <a href="tel:9911336151" class="btn-text">9911336151</a><br />
        Mannoj Battra
        <a href="tel:9315602221" class="btn-text">9315602221</a> <br />
        <br />

        Email:<br />

        <a href="mailto:adarsh.homes@gmail.com" class="btn-text"
          >adarsh.homes@gmail.com</a
        >
        <br />
        Live Chat:

        <a
          href="https://tawk.to/chat/613f77c3d326717cb6813988/1fffunlif"
          class="btn-text"
          >Chat Now!</a
        >
      </p>
      <a href="#section-tours" class="btn btn--green">Okay</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_designs">
  <div class="popup__content u-margin-top-medium">
    <div class="u-center-text">
      <h2 class="heading-secondary u-margin-top-medium">
        Designs
      </h2>
      <h3 class="heading-tertiary">
        Big Ideas, Creative Designs
      </h3>
      <!-- Section-Btn -->
      <!-- <a
          href="experts"
          class="btn btn--secondary btn--section hvr-sweep-to-right"
        >
          view all experts</a
        > -->
    </div>

    <div class="grid-container">
      <a href="#section-" class="popup__close">&times;</a>

      {%- for post in collections.post -%}
      <div class="grid-item">
        {% include 'posts.njk' %}
      </div>

      {%- endfor -%}
    </div>
  </div>
</div>

<!--
        <section class="grid-test">
            <div class="row">
                <div class="col-1-of-2">
                    Col 1 of 2
                </div>
                <div class="col-1-of-2">
                    Col 1 of 2
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
                <div class="col-2-of-3">
                    Col 2 of 3
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-2-of-4">
                    Col 2 of 4
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-3-of-4">
                    Col 3 of 4
                </div>
            </div>
        </section>
        -->
